@using High.Net.Core
@using EPiServer.ServiceLocation
@using High.Net.Models.HighNet.Pages
@using ImageVault.EPiServer

@model IPageViewModel<BasePageData>
@{
    var contentLoader = ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var homePage = contentLoader.Get<HomePage>(Model.CurrentPage.ContentLink);//contentRepository.GetChildren<HomePage>(Model.CurrentPage.ParentLink).FirstOrDefault();
    var client = ImageVault.Client.ClientFactory.GetSdkClient();
}

@if (homePage.Slider != null)
{
    <div class="img-slider-new">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" @Html.EditAttributes(x=>homePage.Slider)>
                @{int i = 0;}
                @foreach (var contentItem in homePage.Slider.Items)
                {
                    var item = new High.Net.Models.HighNet.Blocks.AuthorQuoteBlock();
                    contentLoader.TryGet(contentItem.ContentLink, out item);

                    if (item != null)
                    {
                        var backgroundImage = item.BackgroundImage != null ? client.Load<ImageVault.Common.Data.WebMedia>(item.BackgroundImage.Id).FirstOrDefault() : null;
                        var backgroundImageStyle = backgroundImage == null ? string.Empty : "background-image: url('" + Url.ContentUrl(backgroundImage.Url) + "');";
                        <div class="item @(i == 0 ? "active" : "")">
                            <div class="slider-back" style="@backgroundImageStyle">
                                <div class="human-pic-slider container">
                                    @Html.PropertyFor(x => item.AuthorImage, new { PropertySettings = new PropertyMediaSettings { Width = 585, Height = 540, ResizeMode = ImageVault.Common.Data.ResizeMode.ScaleToFill }, CssClass = "img-responsive" })
                                    <span class="quotes"></span>
                                    <h2>@Html.PropertyFor(x => item.Quote)</h2>
                                    <p>
                                        @Html.PropertyFor(x => item.Author)
                                    </p>
                                </div>
                            </div>
                        </div>
                        i++;
                    }
                }
            </div>
            <!-- Carousel Ends-->
        </div>
    </div>
}