@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.Shared.Pages
@using High.Net.Core
@using ImageVault.EPiServer
@model PageViewModel<NewsListingPage>
@{
    var dataLocator = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<High.Net.Web.Business.DataLocator>();

    var NewsItemPages = dataLocator.GetNewsFeed(Model.CurrentPage);
}
@Html.Partial("~/Views/HighAppraisal/Shared/Banner.cshtml")
<div class="spacer"></div>
<div class=" white-bg">
    <div class="container">
        <div class="sec news">
            @if (NewsItemPages != null)
            {
                foreach (var item in NewsItemPages)
                {
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="news-right-img">
                                <div class="cal">
                                    @if (item.NewsImage != null)
                                    {
                                        @Html.PropertyFor(x => item.NewsImage, new { PropertySettings = new PropertyMediaSettings { Width = 360, Height = 235 }, CssClass = "img-responsive" })
                                    }
                                    else
                                    {
                                        <img src="~/Static/global/images/news-placeholder-360X200.png" class="placeholder img-responsive"/>
                                    }
                                </div>
                                <div class="date">
                                    <span class="glyphicon glyphicon-calendar news">
                                        <span class="date-text">@item.PostedDate.ToString("MMMM dd, yyyy")</span>
                                    </span>
                                </div>
                            </div>
                            <p class="text-center">@item.ImageQuote</p>
                        </div>
                        <div class="col-md-8">
                            <h2 class="news-heading">@item.Title</h2>
                            @item.NewsHighlight
                            <a href="@Url.ContentUrl(item.ContentLink)" class="detail-link">more +</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
