@using High.Net.Core
@using High.Net.Core.Helpers
@using High.Net.Models.HighNet.Blocks
@using High.Net.Web.Business.Helpers
@using ImageVault.EPiServer
@model High.Net.Models.NewResidential.Blocks.PhotosGridGalleryBlock

@{
    var cssClassInSmallDevice = Model.NumberOfColums == 3 ? "col-sm-4" : "col-sm-6";
    var cssClassInMediumDevice = Model.NumberOfColums == 3 ? "col-md-4" : "col-md-3";
}

<div class="residential-service-gallery photo-gallery">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 @cssClassInMediumDevice @cssClassInSmallDevice">
                <div class="residential-service-gallery__header">
                    <h2>@Html.PropertyFor(x => x.Title)</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.PhotoGridItems != null)
            {
                foreach (var item in Model.PhotoGridItems.FilteredItems)
                {
                    var photoGridItem = item.ContentLink.GetContent<PhotoGalleryItemBlock>();
                    <div class="col-xs-12 @cssClassInSmallDevice @cssClassInMediumDevice">
                        <div class="residential-service-gallery__item">
                            @if (!Html.PropertyFor(x => photoGridItem.HtmlText).ToString().Trim().IsEmpty())
                            {
                                <h3 class="residential-service-gallery__title">@Html.PropertyFor(x => photoGridItem.HtmlText)</h3>
                            }
                            <div class="residential-service-gallery__thumbnail">
                                <img class="image-lightbox" src="@MediaHelpers.GetImageUrl(photoGridItem.Image,
                                              new {PropertySettings = new PropertyMediaSettings
                                              { ResizeMode = ImageVault.Common.Data.ResizeMode.ScaleToFill}}
                                              )" alt="@photoGridItem.HtmlText"/>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>