@using EPiServer.Core
@using High.Net.Core
@using High.Net.Models.HighHotels.Pages
@model IPageViewModel<VideoListingPage>
@{
    var contentLoader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var dataLocator = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<High.Net.Web.Business.DataLocator>();

    var videoItems = contentLoader.GetChildren<VideoItemPage>(Model.CurrentPage.ContentLink);
}
@Html.Partial("~/Views/HighHotels/Shared/Banner.cshtml")
<div class="container">
    <div class="video-info">
        <div class="row">
            @foreach (var item in videoItems)
            {
               <div class="col-md-4 col-sm-4">
                <div class="video-left">
                    <img src="@dataLocator.GetYouTubeThumbnail(item.VideoLink)" />
                </div>
                <div class="video-content">
                    <h5>@item.Heading</h5>
                    <p>
                       @item.IntroText
                    </p>
                    <p>
                        <a href="@Url.ContentUrl(item.ContentLink)">read more...</a>
                    </p>
                </div>
            </div> 
            }
        </div>
    </div>
</div>