@using EPiServer.Core
@using High.Net.Core
@using High.Net.Models.StructureCareUs.Pages
@model PageViewModel<ServiceItemPage>
@Html.Partial("~/Views/StructureCareUs/Shared/Banner.cshtml", Model)
@{
    var repository = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentRepository>();
    var serviceItems = repository.GetChildren<ServiceItemPage>(Model.CurrentPage.ContentLink);
}
<!-- content Starts-->
<div class="container">
     <div class="repair">
    @Html.PropertyFor(m => m.CurrentPage.ContentArea, new { CssClass = "row", tag = Global.ContentAreaTags.FullWidth, Tags = new[] { Global.ContentAreaTags.FullWidth, Global.ContentAreaTags.TwoThirdsWidth, Global.ContentAreaTags.HalfWidth, Global.ContentAreaTags.OneThirdWidth } })
   
    @if (Model.CurrentPage.ServiceImages != null)
        {
            int i = 0;
            <div class="row">
                @foreach (var item in Model.CurrentPage.ServiceImages)
                {
                    <div class="col-md-3 col-sm-3">
                        @Html.PropertyFor(x => item, new { PropertySettings = new ImageVault.EPiServer.PropertyMediaSettings { Height = 230, Width = 360, ResizeMode = ImageVault.Common.Data.ResizeMode.ScaleToFill }, CssClass = "img-responsive" })
                    </div>
                    i++;
                    if (i % 4 == 0)
                    {
                    <div class="clearfix"></div>
                    }
                }
            </div>
        }
        @if (serviceItems.Count() > 0)
        {
            <div class="service">
                <div class="section-2">
                    @foreach (var item in serviceItems)
                    {
                        <div class="col-md-3 col-sm-3 ">
                            <div class="service-detail">
                                <a href="@Url.ContentUrl(item.ContentLink)" target="_blank">
                                    @Html.PropertyFor(m => m.CurrentPage.ServiceImages, new { PropertySettings = new ImageVault.EPiServer.PropertyMediaSettings { Height = 230, Width = 360, ResizeMode = ImageVault.Common.Data.ResizeMode.ScaleToFill }, CssClass = "img-responsive" })
                                    <span>@item.Name</span></a>
                            </div>
                        </div>
                    }
                </div>
            </div> 
        }
    </div>
</div>
<!-- content Ends-->
<div class="spacer"></div>
<div class="spacer"></div>

