@using High.Net.Core.Helpers
@using ImageVault.EPiServer
@using High.Net.Core
@using EPiServer.Editor
@using High.Net.Models.HighNet.Pages


@model High.Net.Models.HighNet.Pages.HighNetPageData
@{
    var imageBannerLogoUrl = MediaHelpers.GetImageUrl(Model.ImageBannerLogo, new { PropertySettings = new PropertyMediaSettings { ResizeMode = ImageVault.Common.Data.ResizeMode.ScaleToFill } });
}

<div class="leadership-header-banner" style="@(PageEditing.PageIsInEditMode ? "height:600px" : "")">
    <div class="leadership-header-banner__image"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="leadership-header-banner__text">
                    <h1 @Html.EditAttributes(x => x.Title)> @Model.Title.ToLineBreakString()</h1>
                    @Html.PropertyFor(x => x.Description)
                </div>
                <div class="leadership-header-banner__cursor">
                    @if (Model is HomePage)
                    {
                        <p>Continue Reading</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@{
    var tabletBannerImg = Model.ImageBannerTablet ?? Model.ImageBanner;
    var mobileBannerImg = Model.ImageBannerMobile ?? Model.ImageBanner;

    var desktopBannerUrl = MediaHelpers.GetImageUrl(Model.ImageBanner);
    var tabletBannerUrl = MediaHelpers.GetImageUrl(tabletBannerImg);
    var mobileBannerUrl = MediaHelpers.GetImageUrl(mobileBannerImg);
 }
  

<style type="text/css">
    .leadership-header-banner__image {
        background: #000 url("@desktopBannerUrl") no-repeat center center;
        background-size: cover !important;
    }
    @@media only screen and (max-width: 991px) {
         .leadership-header-banner__image {
          background: #000 url("@tabletBannerUrl") no-repeat center center;
          background-size: cover !important;
         }
        }
    @@media only screen and (max-width: 639px) {
         .leadership-header-banner__image {
          background: #000 url("@mobileBannerUrl") no-repeat center center;
          background-size: cover !important;
         }
        }
</style>
