@using EPiServer.Core
@using High.Net.Models.Shared.Pages
@model High.Net.Core.PageViewModel<NewsListingPage>
@{
    var dataLocator = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<High.Net.Web.Business.DataLocator>();

    var newsListPages = dataLocator.GetNewsFeed(Model.CurrentPage);
}
@Html.Partial("~/Views/StructureCareUs/Shared/Banner.cshtml", Model)
<!-- content Starts-->
<div class="container">
    <div class="news">
        @foreach (var item in newsListPages)
        {
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="news-right-img">
                        <div class="cal">
                            @if (item.NewsImage != null)
                            {
                            @Html.PropertyFor(x => item.NewsImage, new { PropertySettings = new ImageVault.EPiServer.PropertyMediaSettings { Height = 230, Width = 360 }, CssClass = "img-responsive" })
                            }
                            else
                            {
                            <img src="~/Static/global/images/news-placeholder-360X200.png" class="img-responsive placeholder" />
                            }
                        </div>
                        <div class="date">
                            <span class="glyphicon glyphicon-calendar news">
                                <span class="date-text">@item.PostedDate.ToString("MMMM dd, yyyy")</span>
                            </span>
                        </div>
                    </div>
                    <p class="text-center">@item.ImageQuote</p>
                </div>
                <div class="col-md-8">
                    <h2 class="icon-header">@Html.PropertyFor(m => item.Title)</h2>
                    <p>@Html.PropertyFor(m => item.NewsHighlight)</p>
                    <a class="detail-link" href="@Url.ContentUrl(item.ContentLink)">more +</a>
                </div>
            </div>
            <br />
        }
    </div>
</div>
<!-- content Ends-->
<div class="spacer"></div>
