@using High.Net.Core
@{
    Layout = "~/Views/Shared/Layouts/_root.cshtml";
}

@model IPageViewModel<BasePageData>
@{
    var contentloader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var homePage = contentloader.Get<High.Net.Models.Industries.Pages.HomePage>(EPiServer.Web.SiteDefinition.Current.StartPage);
}
@section Header
{
    <link type="image/ico" href="~/Static/global/favicon/favicon.ico" rel="icon">
    @Styles.Render("~/bundles/bootstrap-css")
    @Styles.Render("~/bundles/global-css")
    @Styles.Render("~/bundles/industries-css")

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@homePage.GoogleAnalytics']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    @RenderSection("SiteHeader", required: false)

    <!--
      [if lt IE 9]>
       <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
       <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
     <![endif]
  -->

}
@Html.Partial("~/Views/Industries/Shared/Header.cshtml")

<!--start main section-->
<div class="main-section">
    @RenderBody()
</div>
<!--end main section-->

@Html.Partial("~/Views/Industries/Shared/Footer.cshtml", Model)

@section Footer
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap-js")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("SiteFooter", required: false)
    @Scripts.Render("~/bundles/industries-Js")
    @Scripts.Render("~/bundles/global-js")
    <script>
        var slider = $('.main-pg .bxslider').bxSlider({
            pagerCustom: '#bx-pager',
            mode: 'fade',
            auto: true,
            pause: 3000,
            speed: 1000
        });

        $('.main-pg a.pager-prev').click(function () {
            var current = slider.getCurrentSlide();
            slider.goToPrevSlide(current) - 1;
        });

        $('.main-pg a.pager-next').click(function () {
            var current = slider.getCurrentSlide();
            slider.goToNextSlide(current) + 1;
        });
    </script>
}
