@using EPiServer.Core
@using High.Net.Models.Shared.Pages
@using ImageVault.EPiServer
@model High.Net.Core.PageViewModel<NewsItemPage>

<div class="container">
    <div class="news">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h2>@Html.PropertyFor(m => m.CurrentPage.Title)</h2>
                @Html.PropertyFor(m => m.CurrentPage.NewsContent)
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <div class="news-right-img">
                    <div class="cal">
                        @if (Model.CurrentPage.NewsImage != null)
                        {
                            @Html.PropertyFor(m => m.CurrentPage.NewsImage, new { PropertySettings = new PropertyMediaSettings { Width = 362, Height = 234 }, CssClass = "img-responsive" })
                        }
                        else
                        {
                            <img src="~/Static/global/images/news-placeholder-360X200.png" class="img-responsive placeholder" />
                        }
                        <div class="date">
                            <span class="glyphicon glyphicon-calendar news"><span class="date-text"> @Model.CurrentPage.PostedDate.ToString("MMMM dd, yyyy")</span></span>
                        </div>
                    </div>
                </div>
                <div><span>@Model.CurrentPage.ImageQuote</span></div>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
