@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.Shared.ViewModels
@using High.Net.Core;
@using EPiServer.ServiceLocation;
@using High.Net.Models.Rollover.Pages

@model ContactUsPageModel
@{
    var contentloader = ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var HomePage = contentloader.Get<HomePage>(Model.CurrentPage.ParentLink);
}

<div class="main-section">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    @if (!Model.ContactUsForm.IsContactSubmitted)
                    {
                        <div class="welcome ">
                            <h2 class="title">Get in touch with us now! </h2>
                            @*<hr class="blue-border" />*@
                            @using (Html.BeginForm(null, null, FormMethod.Post,
                            new { @Class = "contact-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(x => x.ContactUsForm.IsB2BSite, new { Value = "true" })
                                @Html.HiddenFor(x => x.ContactUsForm.Solve360SelectedCategory, new { Value = HomePage.Solve360CategoryTag })
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-6">
                                        <label class="control-label" for="Name">Name</label>

                                        @Html.TextBoxFor(x => x.ContactUsForm.Name, new { @Class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ContactUsForm.Name)

                                    </div>
                                    <div class="form-group col-md-6 col-sm-6">
                                        <label class="control-label" for="Email">Email</label>

                                        @Html.TextBoxFor(x => x.ContactUsForm.Email, new { @Class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.ContactUsForm.Email)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-6">
                                        <label class="control-label" for="Title">Title</label>
                                        @Html.TextBoxFor(x => x.ContactUsForm.Title, new { @Class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6">
                                        <label class="control-label" for="Company">Company</label>
                                        <div>
                                            @Html.TextBoxFor(x => x.ContactUsForm.Company, new { @Class = "form-control" })
                                            @Html.ValidationMessageFor(x => x.ContactUsForm.Company)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-6">
                                        <label for="Message">Address</label>
                                        @Html.TextBoxFor(x => x.ContactUsForm.Address, new { @Class = "form-control" })
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6">
                                        <label for="Message">Phone number</label>
                                        @Html.TextBoxFor(x => x.ContactUsForm.PhoneNo, new { @Class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12">
                                        <label for="Message">Message</label>
                                        @Html.TextAreaFor(x => x.ContactUsForm.Message, new { @Class = "form-control", rows = "5" })
                                    </div>
                                </div>


                                <div class="form-group  col-md-12">
                                    <button type="submit" class="btn btn-submit">SEND</button>
                                </div>

                            }
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8 col-sm-8">
                             @(new HtmlString(Model.ContactUsForm.ThankYouMessageText))
                        </div>
                    }
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="contact-detail">
                        @Html.PropertyFor(x => x.CurrentPage.ContentArea, new { CssClass = "row", tag = Global.ContentAreaTags.NoRenderer, Tags = new[] { Global.ContentAreaTags.FullWidth, Global.ContentAreaTags.TwoThirdsWidth, Global.ContentAreaTags.HalfWidth, Global.ContentAreaTags.OneThirdWidth } })
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- section content start-->
        <!--asset-services start-->
        <!--asset-services end-->
    </div>
</div>

