@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.HighConstructionCo.Blocks
@using ImageVault.EPiServer
@model ImageTextBlock


<div class="col-lg-3 col-sm-3">
    <div class="icon-wrap ico-bg round">
      <a href="@Url.ContentUrl(Model.TargetLink)"> @Html.PropertyFor(x => x.Image, new { PropertySettings = new PropertyMediaSettings { Width=94 , Height=94 } })</a>
    </div>
</div>
<div class="col-lg-9 col-sm-9">
    <div class="content home">
        <a href="@Url.ContentUrl(Model.TargetLink)"><h3 class="title">@Html.PropertyFor(x => x.Heading)</h3></a>
        @Html.PropertyFor(x => x.Text)
    </div>
</div>


