@using EPiServer.Core
@using High.Net.Core
@using High.Net.Models.Rollover.Pages
@using ImageVault.Client
@using ImageVault.Client.Query
@model PageViewModel<OpportunityItemPage>
@{
    ImageVault.Client.Client client = ImageVault.Client.ClientFactory.GetSdkClient();
}
@section SiteHeader{
    @Styles.Render("~/bundles/opportunityItemPage-retail-rollover-css")
}
<div class="main-section">
    <div class="container">
        <div class="opportunity-inner">
            @if (Model.CurrentPage.Slider != null)
            {
                <div class="slider-conatiner" id="slider1_container">
                    <div class="sliders" u="slides">
                        <!-- Slides Container -->
                        @foreach (var item in Model.CurrentPage.Slider)
                        {
                            var sliderImage = client.Load<ImageVault.Common.Data.WebMedia>(item.Id).Resize(600, 265).ToList();

                            var sliderThumbnail = client.Load<ImageVault.Common.Data.WebMedia>(item.Id).Resize(160, 160, ImageVault.Common.Data.ResizeMode.ScaleToFill).ToList();
                            if (sliderImage.Count > 0 && sliderThumbnail.Count > 0)
                            {
                                <div>
                                    <img u="image" class="main-image" src="@Url.ContentUrl(sliderImage.FirstOrDefault().Url)" />
                                    <img u="thumb" src="@Url.ContentUrl(sliderThumbnail.FirstOrDefault().Url)" />
                                </div>
                            }
                        }
                    </div>
                    <!-- thumbnail navigator container -->
                    <div u="thumbnavigator" class="jssort02" style="right: 0; bottom: 0px;">
                        <!-- Thumbnail Item Skin Begin -->
                        <div u="slides" style="cursor: default;">
                            <div u="prototype" class="p">
                                <div class="w">
                                    <div u="thumbnailtemplate" class="t"></div>
                                </div>
                                <div class="c"></div>
                            </div>
                        </div>

                        <!-- Arrow Left -->
                        <span u="arrowleft" id="arrowleft" class="arrow" style="position: absolute;"></span>
                        <!-- Arrow Right -->
                        <span u="arrowright" id="arrowright" class="arrow" style="position: absolute;"></span>
                        <!-- Thumbnail Item Skin End -->
                    </div>

                    <!--#endregion Thumbnail Navigator Skin End -->
                </div>
                <div u="thumbnavigator" class="right-pag">
                    <img src="~/Static/regional retail/images/icon/left-arrow.jpg" id="btn-prev">
                    <img src="~/Static/regional retail/images/icon/right-arrow.jpg" id="btn-next">
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="section-1">
                        <h2 class="title">
                            @Html.PropertyFor(m => m.CurrentPage.Title) - @Html.PropertyFor(m => m.CurrentPage.SubTitle)
                        </h2>
                        @*<hr class="blue-border" />*@
                        @Html.PropertyFor(m => m.CurrentPage.PropertyDescription)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section SiteFooter
    {
    @Scripts.Render("~/bundles/jssor")
    @Scripts.Render("~/bundles/opportunityItemPage-retail-rollover-js")
}