@using High.Net.Core
@using EPiServer.ServiceLocation
@using EPiServer.Web
@using High.Net.Models.Associates.Pages

@model IPageViewModel<BasePageData>

@{
    var contentLoader = ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var contentLocator = ServiceLocator.Current.GetInstance<ContentLocator>();

    var homePage = contentLoader.Get<HomePage>(SiteDefinition.Current.StartPage);
    var childPages = contentLoader.GetChildren<BasePageData>(SiteDefinition.Current.StartPage);
    var signUpPage = contentLocator.GetAll<SignUpPage>(SiteDefinition.Current.StartPage).FirstOrDefault();
    int i = 0;
}
@Html.FullRefreshPropertiesMetaData(new[] { "Contact" })
<!--footer start-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="footer-left">
                    <div class="footer-heading">
                        <h4>Contact Us</h4>
                    </div>
                    <div class="row" @Html.EditAttributes(x => homePage.Contact)>
                        @if (homePage.Contact != null)
                        {
                            foreach (var item in homePage.Contact.Items)
                            {
                                if (i % 3 == 0)
                                {
                            <div class="clearfix"></div>
                                }
                            <div class="col-md-4">
                                <div class="add">
                                    @{var currentItem = contentLoader.Get<High.Net.Models.Associates.Blocks.TextBlock>(item.ContentLink);}
                                    @currentItem.Text
                                </div>
                            </div>
                                      i++;
                            }
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="sign-up">
                            <label>SignUp</label>
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { action = Url.ContentUrl(signUpPage != null ? signUpPage.ContentLink : null) }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="email" id="Email" name="Email" required="required" />
                                <button type="submit" class="btn btn-default">Register</button>
                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-4">
                <div class="footer-heading">
                    <h4>Useful Links</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-right">
                            <ul class="ul1">
                                <li><a href="@Url.ContentUrl(homePage.ContentLink)">Home</a></li>
                                @foreach (var item in childPages.Take(7))
                                {
                                    if (item.VisibleInMenu)
                                    {
                                    <li><a href="@Url.ContentUrl(item.ContentLink)">@item.Name</a></li>
                                    }
                                }
                            </ul>
                            <ul class="ul2">
                                @foreach (var item in childPages.Skip(7))
                                {
                                    if (item.VisibleInMenu)
                                    {
                                    <li><a href="@Url.ContentUrl(item.ContentLink)">@item.Name</a></li>
                                    }
                                }
                                @if (homePage.FooterPages != null)
                                {
                                    foreach (var item in homePage.FooterPages)
                                    {
                                    <li>
                                        <a href="@Url.ContentUrl(item.Href)">@item.Text</a>
                                    </li>        
                                    }
                                }
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-heading">
                            <h4>Keep in Touch</h4>
                        </div>
                        <div class="footer-icon">
                            <ul>
                                <li>
                                    <a href="@Url.ContentUrl(homePage.FacebookLink)" @Html.EditAttributes(x => homePage.FacebookLink) target="_blank">
                                        <img alt="facebook" src="~/Static/associates/images/icon/fb.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.ContentUrl(homePage.FacebookLink)" @Html.EditAttributes(x => homePage.YouTubeLink) target="_blank">
                                        <img alt="facebook" src="~/Static/associates/images/icon/youtube.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.ContentUrl(homePage.FacebookLink)" @Html.EditAttributes(x => homePage.LinkedInLink) target="_blank">
                                        <img alt="facebook" src="~/Static/associates/images/icon/likdin.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer end-->
