@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.Shared.ViewModels
@using High.Net.Core
@using High.Net.Models.RealEstateGroup.Pages

@model ContactUsPageModel
@{
    var contentLoader = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var HomePage = contentLoader.Get<HomePage>(PageReference.StartPage);
}

<div class="container">
    <div class="contact">
        <div class="row">
            @if (!Model.ContactUsForm.IsContactSubmitted)
            {
                <div class="col-md-8 col-sm-8">
                    <h5>Get in touch with us now!</h5>
                    <span>Feel free to contact us to get more information.</span>
                    <div class="row">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "contact-form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.ContactUsForm.Solve360SelectedCategory, new { Value = HomePage.Solve360CategoryTag })
                            @Html.HiddenFor(x => x.ContactUsForm.IsB2BSite, new { Value = "true" })
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="control-label" for="Name">Name*</label>
                                <div>
                                    @Html.TextBoxFor(x => x.ContactUsForm.Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactUsForm.Name)
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="control-label" for="Email">Email*</label>
                                <div>
                                    @Html.TextBoxFor(x => x.ContactUsForm.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactUsForm.Email)
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="control-label" for="Title">Title</label>
                                <div>
                                    @Html.TextBoxFor(x => x.ContactUsForm.Title, new { @class = "form-control" })
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="control-label" for="Title">Company*</label>
                                <div>
                                    @Html.TextBoxFor(x => x.ContactUsForm.Company, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.ContactUsForm.Company)
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="control-label" for="Address">Address</label>
                                <div>
                                    @Html.TextBoxFor(x => x.ContactUsForm.Address, new { @class = "form-control" })
                                </div>
                            </div>
                            
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="Message">Message</label>
                                @Html.TextAreaFor(x => x.ContactUsForm.Message, new { rows = "5", @class = "form-control" })
                            </div>
                            <div class="form-group  col-md-12">
                                <button type="submit" class="btn btn-submit">SEND</button>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-8 col-sm-8">
                    @(new HtmlString(Model.ContactUsForm.ThankYouMessageText))
                </div>   
            }
            <div class="col-md-4 col-sm-4">
                <div class="contact-detail">
                    @Html.PropertyFor(x => x.CurrentPage.ContentArea, new { CssClass = "row", ChildrenCssClass = "contact-detail", tag = Global.ContentAreaTags.FullWidth, Tags = new[] { Global.ContentAreaTags.FullWidth, Global.ContentAreaTags.ThreeFourthWidth, Global.ContentAreaTags.TwoThirdsWidth, Global.ContentAreaTags.HalfWidth, Global.ContentAreaTags.OneThirdWidth, Global.ContentAreaTags.OneFourthWidth, Global.ContentAreaTags.OneFifthWidth, Global.ContentAreaTags.OneTwelfthWidth } })
                    @*<h5>Our Address</h5>
                        <p>
                            <strong>High Real Estate Group LCC</strong>
                        </p>
                        <p>1853 William Penn Way</p>
                        <p>Lancaster, PA 17601</p>
                        <p>
                            <strong>Phone: </strong><a href="tel:800.638.4414">800.638.4414</a>
                        </p>*@
                </div>
            </div>
        </div>
    </div>
</div>

