@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using High.Net.Models.Shared.Pages
@using High.Net.Core
@using ImageVault.EPiServer

@model PageViewModel<NewsItemPage>

@Html.Partial("~/Views/HighNet/Shared/Banner.cshtml", Model)
<div class="main">
    <div class="container white-section">
        <div class="news">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h2>@Html.PropertyFor(X => X.CurrentPage.Title)</h2>
                    @Html.PropertyFor(x => x.CurrentPage.NewsContent)
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="news-right-img">
                        <div class="cal">
                            @if (Model.CurrentPage.NewsImage != null)
                            {
                                @Html.PropertyFor(x => x.CurrentPage.NewsImage, new { PropertySettings = new PropertyMediaSettings { Width = 300 }, CssClass = "img-responsive" })
                            }
                            else
                            {
                                <img src="~/Static/global/images/news-placeholder-360X200.png" class="img-responsive placeholder" />
                            }
                        </div>
                        <div class="date">
                            <span class="glyphicon glyphicon-calendar news">
                                <span class="date-text">@Model.CurrentPage.PostedDate.ToString("MMMM dd, yyyy")</span>
                            </span>
                        </div>
                    </div>
                    <div class="img-quote">
                        <p>@Model.CurrentPage.ImageQuote</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
