@using High.Net.Core
@using EPiServer.ServiceLocation
@using High.Net.Models.HighConcreteAccessories.Pages
@using EPiServer.Web
@using ImageVault.EPiServer

@model IPageViewModel<BasePageData>

@{
    var contentLoader = ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var homePage = contentLoader.Get<HomePage>(SiteDefinition.Current.StartPage);

    var menuItems = contentLoader.GetChildren<BasePageData>(SiteDefinition.Current.StartPage).ToList();
}

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar">

        <ul class="nav navbar-nav">
            <li class="active"><a class="no-padding" href="@Url.ContentUrl(homePage.ContentLink)"><div class="home-container"><i class="icon-home" style="font-size:26px;"></i></div></a></li>
            @Html.MenuList(SiteDefinition.Current.StartPage,
                @<li class="@(item.Selected ? "active" : "")@(item.HasChildren.Value ? "dropdown" : "")" )>
                    @if (!item.HasChildren.Value)
                    {
                        <a href="@Url.ContentUrl(item.Page.ContentLink)">@item.Page.Name</a>
                    }
                    else
                    {
                        <a class="navitem" href="@Url.ContentUrl(item.Page.ContentLink)">@item.Page.Name</a>
                        var firstLevelchilditems = contentLoader.GetChildren<BasePageData>(item.Page.ContentLink);
                        <a class="dropdown-toggle caret-dd" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var citem in firstLevelchilditems)
                            {
                                if (citem.VisibleInMenu)
                                {
                                    var childitems = contentLoader.GetChildren<BasePageData>(citem.ContentLink);
                                    if (childitems != null)
                                    {
                                        <li><a href="@Url.ContentUrl(citem.ContentLink)">@citem.Name</a></li>
                                        foreach (var subitem in childitems)
                                        {
                                            if (subitem.VisibleInMenu)
                                            {
                                                <li><a href="@Url.ContentUrl(subitem.ContentLink)">@subitem.Name</a></li>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <li><a href="@Url.ContentUrl(citem.ContentLink)">@citem.Name</a></li>
                                    }
                                }
                            }
                        </ul>
                    }
                </li>)
        </ul>


        
        <div class="clearfix"></div>
    </div>
    <!--/.nav-collapse -->
</nav>
